<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于作者 - SmartConvert</title>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="/static/style.css">
</head>
<body>
   {% include 'header.html' %}
  <h1>关于我</h1>
  <p>你好，我是 Lee Robert，一名热爱设计与技术的电商设计师，专注于将创意与工具结合，打造高效与美观并存的产品。</p>
  <p>这个网站是我用 Flask 自主搭建的第一个功能型项目，目标是持续为大家提供轻量好用的工具。</p>
  <p>欢迎交流！</p>

  <a href="/">← 返回首页</a>

  {% include 'footer.html' %}
</body>
</html>