<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartConvert 工具合集</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body
    {% include 'header.html' %}
    <h1>欢迎来到 SmartConvert</h1>
    <ul>
        <li><a href="/exchange">汇率换算</a></li>
        <li><a href="/bmi">BMI 计算</a></li>
        <li><a href="/calorie">卡路里计算</a></li>
        <li><a href="/insurance">五险一金计算</a></li>
        <li><a href="/compensation">离职补偿计算</a></li>
        <li><a href="/zodiac">星座判断</a></li>
        <li><a href="/calendar">公历农历换算</a></li>
        <li><a href="/compound">复利计算</a></li>
    </ul>
    {% include 'footer.html' %}

</body>
</html>
